
#timeline-embed .tl-slide .tl-text h3.tl-headline-date {
    color: #555 !important;
    font-weight: bold !important;
    font-size: 2em !important;
    line-height: 1em !important;
    text-shadow: none;
  }
  
  #timeline-embed .tl-slide-content-container {
    background-color: #FFF8ED !important;
  }
  
  #timeline-embed .tl-title {
    font-family: "Courier New", monospace !important;
  }
  
  .tl-slider-container-mask {
  background-color: #FFF8ED !important;
}
.tl-menubar-message-next {
  color: #444 !important; /* or any readable color that fits your palette */
  font-weight: 500;
}
.tl-timenav {
  background-color: #FFF8ED !important;
  border-top: none !important;
}

.tl-menubar {
  background-color: #FFF8ED !important;
  border-top: none !important;
  box-shadow: none !important;
}
.tl-menubar-horizontal {
  background-color: #FFF8ED !important;
  border-top: none !important;
}

.tl-text h2.tl-headline {
  font-size: 2.5em !important;
  line-height: 1em !important;
}

.tl-slidenav-content-container .tl-slidenav-title {
  font-size: 1.25em !important;
}

.tl-text-content-container h3.tl-headline-date {
  font-size: 1.5em !important;
}

.tl-text-content p {
  font-size: 1.25em !important;
}

.tl-timenav-event {
  min-width: 60px !important;
}

.tl-timenav-event-content-container {
  min-width: 100px !important;
}

.tl-timenav-event {
  background-color: #444 !important;
  border-radius: 4px !important;
  min-height: 10px !important;
}


.tl-timeaxis-tick span.tl-timeaxis-tick-text {
  height: 80px;
  overflow: visible !important;
  font-size: 1.2em;
}

.tl-timeaxis-background {
  background-color: #FFF8ED !important;
  border-top: none !important;
}
.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
  height: 80px !important;
  margin-top: 10px;
  font-size: 1.2em;
  color: #222;
}

.tl-timeaxis {
  height:60px;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick .tl-timeaxis-tick-text {
  font-size: 1.5em !important;  
  color: #333;
}

.tl-storyslider {
  height: 710px !important;
}

.tl-timenav {
  height: 265px !important;
}