
#timeline-embed .tl-slide .tl-text h3.tl-headline-date {
    color: #555 !important;
    font-weight: bold !important;
    font-size: 26px !important;
    text-shadow: none;
  }
  
  #timeline-embed .tl-slide-content-container {
    background-color: #fdf6e3 !important;
  }
  
  #timeline-embed .tl-title {
    font-family: "Courier New", monospace !important;
  }
  