@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/* Custom CSS Styles */

body {
    font-family: 'Roboto','Helvetica Neue',sans-serif; 
    font-size: 18px;
    font-weight:300;
    color: #efefef;
    background-color: #101010;
}

h1, h2, h3, h4, h5, h6 {
    color: #efefef;
    padding-bottom: 10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #efefef;
    text-decoration: none;
}

figure {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

figcaption {
    font-size: 13px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

ul li {
    padding-bottom: 10px;
}

hr {
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
    margin-top: 10px;
}

footer a {
    color: #efefef;
    text-decoration: none;
}