@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

body {
    margin:0; 
    padding:0; 
    background:#111;
    color:#ddd;
    width: 100%;
    font-size:14px;
    line-height: 20px;
    font-family: 'Space Grotesk';
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    overflow-x:hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body, #info {
    min-height: 100% !important;
    height: 100%;
}

html{
    overflow-x:hidden;
    font-weight:400;
}

ul, li{list-style: none;}
a{
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 0;
}
a:link {

}
.wh a{
    padding-bottom: 1px; 
}

#frame {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -999;
   pointer-events: none;
   overflow: hidden;
}

#frame_ {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -99;
   background-image: url("./folder/grid.png");
}

h4 {font-size:40px; line-height:36px; margin: 0px;}

#info {
	margin:0;  
  padding: 30px;
  background-color: rgba(0,0,0,0);
	text-align: left;
  width:480px;
  font-size:13px;
  line-height: 20px;
  transition: background-color .7s ease-in-out;
  -webkit-allow-fullscreen;-moz-allow-fullscreen;allow-fullscreen;webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
@media (max-width: 640px) {
  #info {width:80%; padding: 30px;}
}

.blk{}
@media (max-width: 640px) {.blk {display: none;}}

.accent, .accent:visited, .accent:link{
    color:#fff;
}

.accent:hover {
    color:#222;
    border: none;
    padding-bottom: 1px;
}

.name, .name:visited, .name:link{
    border: none;
    color: #fff;
}

.name:hover{
    color: #fff;
    border-bottom: 1px solid #aaa;
    padding-bottom: 1px;
}
.wt {
}
.wh {
    margin-left: 30px;
}

#mov{
	margin: 0 auto;
  padding:0; 
  margin-bottom: 40px;
  text-align: center;
}
.video{
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);}

