body{margin:0px;padding:0px;background-color:#000;}
html{scroll-behavior: smooth;overflow-x:hidden;height:100%;background-color:#000;max-width:100%;margin:0;padding:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img.lazy {display: block;}          
.column{width:25%;margin:0;padding:0;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@media (max-width:1920px){.column{width:33.33%;}}
@media (max-width:1024px){.column{width:50%;}}
@media (max-width:640px){.column{width:100%;}}
.column img{margin:0;padding:1;max-width:100%;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.foot{margin:0;padding:0;height:300px;font-size:32px;}
#frame_ {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   background-image: url("./grid.png");
   mix-blend-mode: multiply;
}



